.IncomeContainer {
    background-color: #B8E0BA;
    color: #0C3C10;
    max-height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 23.5px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
@media screen and (max-width: 839px) {
    .IncomeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
.IncomeContainer .text h3{
    display: inline-block;
    margin: 0px;
}
.IncomeContainer .text{
    text-align: left;
    padding-left: 20px;
}
@media screen and (max-width: 839px) {
    .IncomeContainer .text {
        padding: 0 5px 0 5px;
    }
  }
.IncomeContainer .text div h2{
    display: block;
    margin: 0px;
  }
.IncomeContainer button {
    display: inline-block;
    margin: 25px 0 25px 0;
    padding-right: 25px;
    background-color: #FF9B9B;
    height: 20px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #861010;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #540000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-align: center; 
  }
  @media screen and (max-width: 839px) {
    .IncomeContainer button {
      margin:  0 15px 2px 15px;
    }
  }
  .IncomeContainer button:hover,
  .IncomeContainer button:focus {
  background-color: #EACAB3;
  color: #774C2C;
}

.IncomeContainer button:focus {
  box-shadow: 0 0 0 2px rgba(255, 106, 0, .15);
}

.IncomeContainer button:active {
  background-color: #E4BDA0;
  box-shadow: none;
  color: #774C2C;
}